.main{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

/* wallet */

.content{
    max-width: 300px;
    display: flex;
    cursor: pointer;
}

.icon {
    font-size: 70px;
    margin: 7px;
}

li span {
    font-weight: bold;
    margin-bottom: -2px;
    font-size: 20px;
}

/* top crypto */

.cryptoContent{
    max-width: 350px;
}

 h1 {
    font-size: 26px;
    font-weight: lighter;
    text-align: left;
    margin: 0 0 -10px 0;
    color: #1677ff
}
 h4 {    
    font-size: 16px;
    font-weight: lighter;
    color: #1677ff
}

li h1{
        font-size: 26px;
    font-weight: lighter;
    margin: 0;
    color: #1677ff
}

ol{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

li{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.top {
    padding-right: 20px;
}